### IMPORTAÇÕES DAS BIBLIOTECAS UTILIZADAS

In [1]:
import pandas as pd
import pandas_profiling as pp
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()
# ignorando os warnings
import warnings
warnings.filterwarnings('ignore')
# plotando o matplotl

## Carrega dataset para exploração

In [3]:
dados = pd.read_csv(r'..\DataSets\reembolso.csv', delimiter=';')
dados.head()

,bugged_date,receipt_date,employee_id,work_group,state_code,employee,receipt_social_security_number,receipt_description,establishment_name,receipt_value
0,0,27/03/2013 00:00,1772,grupo 1,SP,func 1,3.530749e+12,Fuels and lubricants.,AUTO POSTO 314 NORTE LTDA,70
1,0,24/07/2013 00:00,1772,grupo 1,SP,func 1,8.202116e+12,Fuels and lubricants.,AUTO POSTO AEROPORTO LTDA,104
2,0,17/02/2013 00:00,1772,grupo 1,SP,func 1,8.202116e+12,Fuels and lubricants.,AUTO POSTO AEROPORTO LTDA,100
3,0,15/03/2013 00:00,1772,grupo 1,SP,func 1,8.202116e+12,Fuels and lubricants.,AUTO POSTO AEROPORTO LTDA,100
4,0,27/01/2013 00:00,1772,grupo 1,SP,func 1,8.202116e+12,Fuels and lubricants.,AUTO POSTO AEROPORTO LTDA,77

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 10 columns):
bugged_date                       1048575 non-null int64
receipt_date                      1048575 non-null object
employee_id                       1048575 non-null int64
work_group                        1048575 non-null object
state_code                        1048575 non-null object
employee                          1048575 non-null object
receipt_social_security_number    860939 non-null float64
receipt_description               1048575 non-null object
establishment_name                1048575 non-null object
receipt_value                     1048575 non-null int64
dtypes: float64(1), int64(3), object(6)
memory usage: 80.0+ MB

In [ ]:
pp.ProfileReport(dados)

#### Verifica quais são as categorias distintas

In [ ]:
dados.receipt_description.unique()

# Análise por categorias a procura de outliers em cada categoria

### Separa dataset por categorias e coloca tudo em um dicionario

In [ ]:
dtCombustivel = dados[(dados.receipt_description == 'Fuels and lubricants.')]
dtPalarmentar = dados[(dados.receipt_description == 'Dissemination of the Parliamentary Activity.')]
dtPassagemAviao = dados[(dados.receipt_description == 'Airline tickets')]
dtTelefonia = dados[(dados.receipt_description == 'Telephony')]
dtAluguelBarco = dados[(dados.receipt_description == 'Renting of motor vehicles or chartering of boats')]
dtEscritorio = dados[(dados.receipt_description == 'Maintenance of Office')]
dtPesquisa = dados[(dados.receipt_description == 'Consultancies, Researches and Technical Works.')]
dtAlimentacao = dados[(dados.receipt_description == 'Food and Meals')]
dtHotel = dados[(dados.receipt_description == 'Hosting, except for the Parliamentary in the Federal District.')]
dtAluguelCarro = dados[(dados.receipt_description == 'Rental or Chartering of Motor Vehicles')]
dtSeguranca = dados[(dados.receipt_description == 'Security Service Provided By Specialized Company.')]
dtTransporte = dados[(dados.receipt_description == 'Taxi Service, Toll & Parking')]
dtPassagemBarco = dados[(dados.receipt_description == 'Land, Sea or River Tickets')]
dtPublicacao = dados[(dados.receipt_description == 'Publication Subscription')]
dtAluguelAviao = dados[(dados.receipt_description == 'Renting or Chartering of Aircraft')]
dtAluguelBarco2 = dados[(dados.receipt_description == 'Leasing or Chartering of Boats')]

### Faz novamente o pandas profile para cada um dos datasets separados

In [ ]:
pp.ProfileReport(dtCombustivel)

### Resultado do DataSet de Combustivel

Existe registros com 0, é estranho, mas representa menos de 0.1%
Tambem temos valor menor que 5, de reembolso, será que é normal??

O comum está entre 30 e 120, acredito que seja normal

In [ ]:
pp.ProfileReport(dtPalarmentar)

In [ ]:
pp.ProfileReport(dtPassagemAviao)

In [ ]:
pp.ProfileReport(dtTelefonia)

In [ ]:
pp.ProfileReport(dtAluguelBarco)

In [ ]:
pp.ProfileReport(dtAluguelBarco2)

In [ ]:
pp.ProfileReport(dtEscritorio)

In [ ]:
pp.ProfileReport(dtPesquisa)

In [ ]:
pp.ProfileReport(dtAlimentacao)

In [ ]:
pp.ProfileReport(dtHotel)

In [ ]:
pp.ProfileReport(dtAluguelCarro)

In [ ]:
pp.ProfileReport(dtSeguranca)

In [ ]:
pp.ProfileReport(dtTransporte)

In [ ]:
pp.ProfileReport(dtPassagemBarco)

In [ ]:
pp.ProfileReport(dtPublicacao)

In [ ]:
pp.ProfileReport(dtAluguelAviao)